$primary-color: #696969;
$secondary-color: #acacac;
$border-color: #dadada;

$darkest-color: #202020;
$brightest-color: white;

$primary-accent: teal;
$secondary-accent: goldenrod;


$big-shadow: 0 20px 40px #00000080;
$small-shadow: 0 2px 5px #00000080;