@import './variables';
@import './typography';

@import './parts/header';
@import './parts/skills';
@import './parts/experience';
@import './parts/general_skills';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: $primary-accent;
  font-family: Helvetica, sans-serif;
  color: $primary-color;
  position: relative;
}

.paper {
  background: $brightest-color;
  width: 100vw;
  margin: 0 auto;

  @media (min-width: 900px) {
    width: 900px;
    box-shadow: $big-shadow;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

section {
  margin-top: 20px;
}

.container {
  padding: 10px;
  justify-content: space-between;

  @media (min-width: 550px) {
    padding: 20px;
  }

  @media (min-width: 900px) {
    display: flex;
  }
}

.bar {
  background: $darkest-color;
  min-width: 100%;
  text-align: center;
  color: $primary-accent;
  padding: 10px 0;
  font-size: 14px;
}

button {
  background: none;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

.consent {
  text-align: center;
  font-style: oblique;
  font-size: 12px;
  line-height: 14px;
  color: $secondary-color;
}

.left {
  width: 100%;

  @media (min-width: 900px) {
    width: 35%;
  }
}