.download {
  text-align: center;
  margin-top: 40px;

  a {
    background: $secondary-accent;
    text-transform: uppercase;
    color: $brightest-color;
    font-weight: 600;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid $secondary-accent;

    &:hover {
      background: none;
      color: $secondary-accent;
      border: 2px solid $secondary-accent;
    }

  }
}