.experience {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, $primary-accent, $secondary-accent);
  padding-bottom: 20px;
  height: 100%;

  // border-bottom: 1px solid;
  // border-image-slice: 1;
  // border-image-source: linear-gradient(to left, $primary-accent, $secondary-accent);
  @media (min-width: 900px) {
    width: 70%;
    padding-right: 30px;
  }

  .position {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border: none;
    }

    .left {
      margin-right: 20px;

    }
  }

  .dates {
    display: block;
    font-weight: bold;
    color: $secondary-color;
  }

  h4 {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;

  }

  .company {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }

  p {
    color: $secondary-color;
    margin-top: 10px;

    span {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}