.skills {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, $primary-accent, $secondary-accent);

  .container {
    display: block;

    .skill-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .skill {
        width: 100%;
        margin-top: 10px;





        @media (min-width: 550px) {
          width: 45%;
        }
      }
    }

    .data {
      display: flex;
      justify-content: space-between;

      span {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;

        &.percent {
          color: $secondary-accent;
        }
      }
    }


    .progress-bar {
      // margin-top: 10px;
      background: $secondary-accent;
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      padding: 0 2px;
      display: flex;
      height: 18px;
      width: 100%;
    }

    .progress-value {
      animation: load 2s normal forwards;
      border-radius: 100px;
      background: $brightest-color;
      height: 14px;
      width: 14px;
    }

    @keyframes load {
      0% {
        width: 15px;
      }

      100% {
        // width: 78%;
      }
    }
  }
}