h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.3rem;
}

span {
  font-size: 12px;
}

a {
  color: #696969;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, teal, goldenrod);
}

header .profile {
  width: 100%;
  display: block;
}

@media (min-width: 900px) {
  header .profile {
    width: 80%;
  }
}

header .profile span {
  text-transform: uppercase;
  font-weight: 800;
}

header .image {
  display: none;
  background: white;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px #00000080;
          box-shadow: 0 2px 5px #00000080;
}

@media (min-width: 900px) {
  header .image {
    display: block;
  }
}

header .image img {
  width: 100%;
}

.contact-links {
  display: block;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

@media (min-width: 550px) {
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 550px) {
  .contact-links .contact {
    margin-left: 10px;
  }
}

.contact-links .contact a {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
  margin-top: 10px;
}

.contact-links .contact a span {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: teal;
}

.contact-links .contact a:hover {
  color: goldenrod;
}

.contact-links .social-media .social {
  display: inline-block;
  background: white;
  -webkit-box-shadow: 0 2px 5px #00000080;
          box-shadow: 0 2px 5px #00000080;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  opacity: 0.6;
}

.contact-links .social-media .social.github {
  background: url(../images/github.png);
  background-size: cover;
}

.contact-links .social-media .social.linkedin {
  background: url(../images/linkedin.png);
  background-size: cover;
}

.contact-links .social-media .social.behance {
  background: url(../images/behance.png);
  background-size: cover;
}

.contact-links .social-media .social:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: goldenrod;
  opacity: 0.8;
}

@media print {
  .contact-links .social-media .social {
    display: none;
  }
}

.skills {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, teal, goldenrod);
  padding-bottom: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skills .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skill-list .skill {
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 550px) {
  .skills .skill-list .skill {
    width: 45%;
  }
}

@media (min-width: 900px) {
  .skills .skill-list .skill {
    width: 100%;
  }
}

.skills .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .data span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.skills .data span.percent {
  color: goldenrod;
}

@media print {
  .skills .data span.percent {
    display: block;
  }
}

.skills .progress-bar {
  background: goldenrod;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  width: 100%;
}

@media print {
  .skills .progress-bar {
    display: none;
  }
}

.skills .progress-value {
  -webkit-animation: load 2s normal forwards;
          animation: load 2s normal forwards;
  border-radius: 20px;
  background: white;
  height: 12px;
  width: 12px;
}

@-webkit-keyframes load {
  0% {
    width: 15px;
  }
  100% {
  }
}

@keyframes load {
  0% {
    width: 15px;
  }
  100% {
  }
}

@media (min-width: 900px) {
  .experience {
    width: 70%;
    padding-right: 30px;
  }
}

.experience .position-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.experience .position {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.experience .position:first-child {
  border: none;
}

.experience .position .left {
  margin-right: 20px;
}

.experience .dates {
  display: block;
  font-weight: bold;
  color: #acacac;
}

.experience h4 {
  display: inline-block;
  margin-right: 5px;
  text-transform: uppercase;
}

.experience .company {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

.experience p {
  color: #acacac;
  margin-top: 10px;
}

.experience p span {
  color: #696969;
  text-transform: uppercase;
  font-weight: 600;
}

@media print {
  .experience {
    page-break-after: always;
  }
}

.general-skills {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, teal, goldenrod);
  padding-bottom: 20px;
}

@media print {
  .general-skills {
    border: none;
  }
}

.general-skills span {
  display: inline-block;
  background: teal;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}

.download {
  text-align: center;
  margin-top: 40px;
}

.download a {
  background: goldenrod;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid goldenrod;
}

.download a:hover {
  background: none;
  color: goldenrod;
  border: 2px solid goldenrod;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: teal;
  font-family: Helvetica, sans-serif;
  color: #696969;
  position: relative;
}

.paper {
  background: white;
  width: 100vw;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .paper {
    width: 900px;
    -webkit-box-shadow: 0 20px 40px #00000080;
            box-shadow: 0 20px 40px #00000080;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

section {
  margin-top: 20px;
}

.container {
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, teal, goldenrod);
  padding-bottom: 20px;
}

.container:last-child {
  border: none;
}

@media (min-width: 550px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bar {
  background: #202020;
  min-width: 100%;
  text-align: center;
  color: teal;
  padding: 10px 0;
  font-size: 14px;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.consent {
  text-align: center;
  font-style: oblique;
  font-size: 12px;
  line-height: 14px;
  color: #acacac;
}

.left {
  width: 100%;
}

@media (min-width: 900px) {
  .left {
    width: 35%;
  }
}
/*# sourceMappingURL=style.css.map */